*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

::-webkit-scrollbar-track {
    background-color: rgb(65, 63, 63);
}
::-webkit-scrollbar {
    width: 0px;
    background: rgb(65, 63, 63);
}
::-webkit-scrollbar-thumb {
    background: #222121;
    border-radius: 9px;
}
.clear{
    clear: both;
}
#modal_img{
    width: 60vw;
    transform: scale(0);
    transition: all linear 0.3s;
}
.modal_active #modal_img{
    transform: scale(1);
}
.modal{
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.712);
    position: fixed;
    top: 0;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.8s linear, opacity 0.5s linear;
}
.modal_active{
    visibility: visible;
    opacity: 1;
}


.modal_content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn_close{
    color: white;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0 8px; 
    cursor: pointer;
    font-size: 25px;
    border: 1px solid white;
    transition: all ease-out .4s;
}
#btn_close:hover{
    background-color: rgb(255, 28, 28);
}
.base{
    width: 100%;
    max-width: 768px;
    padding: 30px 5px;
    border: 3px solid grey;
    margin: 20px auto;
}
.img-wraper{
    width: 33.33%;
    aspect-ratio: 12/10;
    float: left;
    background-color: rgb(255, 0, 0);
    position: relative;
    border: 10px solid white;
}
.img{
    position: absolute; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.img:hover{
    filter: grayscale(100%);
    transform: scale(1.05);
    transition: all linear 0.4s;
}
@media screen and (max-width:768px){
    #modal_img{
        width: 60vh;

    }
    .modal_content{
        transform: rotate(90deg);
    }
    
}

@media screen and (max-width:500px){
    .img-wraper{
        width: 50%;
    }
    
}
@media screen and (max-width:300px){
    .img-wraper{
        width: 100%;
    }
}